html{background-color:black; color:white; font-family: "Silkscreen", sans-serif;    
}

h1{
    font-size:26px;
    text-align:center;
    padding:16px;
}

p{
    color:greenyellow;
    text-align: center;
    padding:16px;
}

/*HOME*/

#navbar{
    background-image:url(https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExZXEzYTB3NXlob3BmZmcweTRsenJ6N3p6NzU0ejB1bjlzMjBmYnplMCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/5ZXA1Gb4uleV1nHVhF/giphy.webp);
    background-color:black;
/*    height:10%;*/
    width:100%;
    position:sticky;
    top:0px;
    padding:16px;
    z-index:3;
}

h1.navlink{
    color:mediumvioletred;
}
.navlink{
    font-size:20px;
    display:inline;
    text-decoration:none;
    color:white;
    padding:16px 16px 16px 0px;
}

a.navlink:visited{
    text-decoration:none;
}

a.navlink:hover{
    color:mediumvioletred;
}

#main{
    padding:16px;
    text-align:center;
    background-image:url(https://live.staticflickr.com/65535/53971413887_6c943341e2_z.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 80%;
    min-height:400px;
    align-content: center;
}


a.btn{
    background-color:mediumvioletred;
    padding:12px 16px;
    color:white;
    text-decoration: none;
}

a.btn:hover{
    font-size: 18px;
}

/*GALLERY*/
.album{
    padding:16px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.photo{
    padding:inherit;
    width:26%;
    align-items: center;
    padding:inherit;
}
#photo{
    width:100%;
}

/*LINKS*/

.icon{
    text-align: center;
}
#icon{
    height:80px;
    width:80px;
    padding:15px;
    text-align: center;
    
}
#iconrb{
    height:63px;
    width:63px;
    padding:15px;
    text-align: center;
    position:relative;
    bottom:9px;
    
}
.shop{
    text-align: center;
}

#shop{
    background-color:greenyellow;
    color:black;
}

